 * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        padding: 40px;
    }

    input {
        padding: 10px 15px;
        border-radius: 8px;
        border: 1px solid #ccc;
        outline: none;
        transition: 0.3s;
        margin-right: 10px;
    }

    .inputButton{
        display: flex;
        justify-content: center;
    }

    input:focus {
        border-color: #4a90e2;
    }

    button {
        padding: 10px 20px;
        border-radius: 8px;
        border: none;
        background: #4a90e2;
        color: white;
        transition: 0.3s;
        font-weight: bold;
    }

    button:hover {
        background: #357abd;
        transform: translateY(-2px);
        box-shadow: 5px rgba(0,0,0,0.2);
    }

    .container {
        width: 600px;
        height: 320px;
        margin: 30px auto 0;
        padding: 25px;
        display: flex;
        gap: 25px;
        background: #2f2f35;
        border-radius: 20px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
        position: relative;
        transition: 0.4s;
    }

    .container:hover {
        transform: scale(1.02);
        box-shadow: 0 20px 40px rgba(0,0,0,0.35);
    }

    .name,
    .title {
        width: 300px;
        background: #f4f6f9;
        border-radius: 20px;
        padding: 20px;
        transition: 0.3s;
    }

    .name p,
    .title p {
        border-radius: 8px;
        transition: 0.2s;
        margin-bottom: 10px;
        padding: 8px;
    }

    hr {
        width: 2px;
        border-radius: 2px;
    }
